body {
  background-color: #add8e6;
}
div.operation {
  text-align: right;
  margin: 5em 0 1em;
}
#editor {
  width: 100%;
  height: 900px;
  overflow: auto;
  background-color: #fff;
}
.frame {
  margin-bottom: 5em;
}
