@import 'default';

blue-color = #337ab7

.sample_fasta {
    cursor: pointer;
    margin-left: 2em;
    font-size: 12px;
}

input#proj_name
	display:inline
	width:15em

input#ev
	display:inline
	width:5em

textarea
	resize: vertical
	overflow:auto
	
.place-holder
	color:rgb(222,222,222) !important

#still-run
	visibility:hidden
 
#div-sample-gff
    color:blue-color
    visibility:hidden
    position:absolute
    
#sample-span
    color:blue-color

#sample-div
    float:right
    margin-right:2em

#sequence-div
    float:left
    margin-bottom:2em
    
#div-gff-fasta
    position:ralative
    
#loadFile-div
    position:static