{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="well the-fieldset">
                <legend class="the-legend embossed_txt">
                    Brief introduction
                </legend>
                <p>
                    <h4 class="text-primary" style="font-size:14px;text-align:justify;line-height: 120%">
                  Resistance gene analogs (RGAs) are a large class of potential R-genes that usually have conserved
          domain and motif configuration. To date, NBS-encoding protein, receptor like protein (RLP) and
          serine/threonine/tyrosine conferring receptor like kinase (RLK) and membrane associated coiled-coil
          protein (TM-CC) have been broadly reported to be closely associated with plant defense and resistance.
          RGAugury, an integrative package, automates genome-wide prediction for different types of RGAs.
          All modules of the pipeline have been fully paralleled to run in multiple threads to ensure maximum
          data mining speed through the full usage of all CPU resources on a cutting-edge server.
          The pipeline first identifies resistance related domains such as NBS, LRR, transmembrane,
          serine/threonine/tyrosine kinase and coiled-coil from gene and predicted protein sequences from genomes.
          All identified essential domains are then comprehensively analyzed to declare RGA candidates and
          classified them as NBS-encoding, TM-CC and membrane associated RLP or RLK.
          RGAugury is an effective bioinformatics tool for genome-wide RGA identification that can be applied
          to other plant genomes.
                </h4>
                </p>
            </fieldset>
            <fieldset class="well the-fieldset">
                <legend class="the-legend embossed_txt">
                    Citation
                </legend>
                <p>
                    <h4 class="text-primary" style="font-size:14px;text-align:justify;line-height: 120%">
                  Pingchuan Li, Gaofeng Jia, Jin Xiao, Xiande Quan, Sylvie Cloutier and Frank M. You, RGAugury: A pipeline for genome-wide prediction of resistance gene analogs (RGAs) in plants, &lt;journal&gt;, 2016
                </h4>
                </p>
            </fieldset>
            <fieldset class="well the-fieldset">
                <legend class="the-legend embossed_txt">
                    Contact
                </legend>
Frank M. You (Ph.D)                
                    <h4 class="text-primary" style="font-size:14px;text-align:justify;line-height: 120%; white-space:normal">
<p style="white-space:pre">
Bioinformatics, Research Scientist
Agriculture and Agri-Food Canada 

101 Route 100, Morden, Manitoba R6M 1Y5 
Frank.you@agr.gc.ca 

Tel:  204-822-7525/Cel: 204-384-0704/TTY: 613-759-7470
</p>
                </h4>
                
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}



