<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="#" rel="shortcut icon" />
    <title>
        {% if title %} {{ title }} {% else %} RGAugury {% endif %}
    </title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style/admin.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/admin.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>
</head>

<body>
    <div class="container">
        <div class="operation">
            <button id="save" type="button" class="btn btn-success"> Save </button>
        </div>
        <div class="frame">
            <textarea id="editor"></textarea>
        </div>
    </div>
</body>
<!-- Modal -->
<div id="password" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id ="enter">Enter</button>
            </div>
        </div>
    </div>
</div>

</html>
